body
{
  margin: 0;
  padding: 0;
  font: 400 16px/1.5 -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
  color: #111111;
  background-color: #abbb411c;
}
.site-header
{
  border: 1px 0 5px 0 solid #424242;
  min-height: 55.95px;
  line-height: 54px;
  position: relative;
}
@media screen and (min-width: 600px) 
{
  .site-nav
  {
    position: static;
    float: right;
    border: none;
    background-color: inherit;
  }
.site-nav 
{
  position: absolute;
  top: 9px;
  right: 15px;
  background-color: #fdfdfd;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  text-align: right;
}
.wrapper
{
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;

}